@import "/src/index.scss";

#projects .icon,
#proj-modal .icon {
  cursor: pointer;
  transition: 0.5s;
  margin: auto;

  &:hover {
    // opacity: 0.7;
    color: $color1-light;
  }

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &:last-child {
    transform: rotate(180deg);
  }

  &.close {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

#projects {
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  padding-bottom: 0;
  color: $light;

  h1 {
    font-size: xx-large;
    text-shadow: 0 0 5px $light, 0 0 10px $light, 0 0 15px $color1,
      0 0 20px $color1, 0 0 25px $color1;
    margin-bottom: 32px;
    transition: 0.5s;

    &:last-child {
      margin-bottom: 0;
      margin-top: 64px;
    }
  }

  .project {
    &:not(:last-child) {
      margin-bottom: 20px;
      padding-bottom: 20px;
      background: linear-gradient(
          to right,
          $color2-light 0%,
          $color1-light 25%,
          $color3-light 50%,
          $color1-light 75%,
          $color2-light 100%
        )
        left bottom transparent no-repeat;
      background-size: 100% 2px;
    }

    .proj-title {
      transition: 0.5s;

      h3 {
        font-family: $accent-font;
        font-size: xx-large;
        margin-bottom: 8px;
        // color: $color1-light;

        background: -webkit-linear-gradient(45deg, $light, $color1-light);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        width: min-content;

        transition: 0.5s;
      }
      p {
        font-style: italic;
        font-size: smaller;

        transition: 0.5s;
      }
    }

    .proj-desc {
      transition: 0.5s;

      p {
        font-size: small;
        font-weight: 200;
        transition: 0.5s;
      }
    }

    .figma {
      margin: 16px auto;
      width: 100%;
      height: 80vh;
      border: none;
      border-radius: 5px;
      display: block;
    }

    .proj-process {
      h3 {
        font-family: $main-font;
        text-transform: lowercase;
        letter-spacing: 1.6px;
        text-align: center;
        margin-bottom: 8px;
      }
    }

    .proj-slider {
      height: 60vh;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;

      .proj-imgs {
        height: 100%;
        margin: 0 4px;
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
          display: none;
        }

        .proj-img-container {
          height: 100%;
          width: max-content;

          img {
            height: 100%;
            width: auto;
            cursor: pointer;
            transition: 0.5s;
            position: relative;

            &:not(:last-child) {
              margin-right: 12px;
            }

            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}

#proj-modal {
  background-color: rgb($dark, 0.8);
  color: $light;

  :focus {
    outline: none !important;
  }

  .modal-contain {
    height: 100%;
    margin: 0;
    padding: 0 20px;
    width: 100%;
    display: flex;

    .img-contain {
      padding: calc(12px + 6vw) 24px;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin: auto;
        // box-shadow: 0 0 5px $light, 0 0 10px $light, 0 0 15px $color1,
        //   0 0 20px $color1, 0 0 25px $color1;
        filter: drop-shadow(0 0 5px $light) drop-shadow(0 0 25px $color1);
      }
    }
  }
}

@media (max-width: 600px) {
  .proj-title,
  .proj-desc {
    max-width: 100% !important;
    flex-basis: 100% !important;
    padding-right: 32px;
  }

  .proj-desc {
    padding-top: 16px !important;
  }
}
