@import "/src/index.scss";

/* header */
#header {
  width: 100%;
  text-align: center;
  background-color: rgb($text, 0.5);
  color: $light;
  position: relative;
  transition: 0.5s;
  min-height: 90vh;
  display: flex;

  #masthead {
    padding: 80px 40px;
    transition: 0.5s;
    margin: auto;

    .header-icon {
      margin-top: 20px;
      height: 40px;
      width: auto;
      transition: 0.5s;
      color: white;
    }

    a:hover .header-icon {
      // opacity: 0.7;
      color: $color3-light;
      transform: scale(1.1);
    }

    h1 {
      animation: glow 2s ease-in-out infinite alternate;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 450px) {
  #masthead {
    font-size: small;
    .header-icon {
      height: 32px !important;
    }
  }
}

// wavy text
.wavy {
  animation-name: wavy;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  position: relative;
  top: 0;
  left: 0;
}
@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0px;
  }
}

// glowing text
@keyframes glow {
  from {
    text-shadow: 0 0 5px $light, 0 0 10px $light, 0 0 15px $color1,
      0 0 20px $color1, 0 0 25px $color1;
  }

  to {
    text-shadow: 0 0 10px $light, 0 0 15px $color2, 0 0 20px $color2,
      0 0 25px $color2, 0 0 30px $color2;
  }
}
